<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DhrAgentDatabaseUtils.Properties.Settings.SoftphoneAgentDatabaseConnectionString"
            connectionString="Data Source=.;Initial Catalog=SoftphoneAgentDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DhrAgentDatabaseUtils.Properties.Settings.SoftphoneAgentDatabaseConnectionString1"
            connectionString="Data Source=.;Initial Catalog=SoftphoneAgentDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>